/node_modules/
/public/js/vendor/jquery
/public/js/vendor/modernizr

*.DS_store
*.log

/node_modules/

/dist/
/test/output/
/.sass-cache/
/.tmp/

/app/public/css
/app/public/js
/app/public/img
/app/src/components

/app/data.json
/app/content/
