script#editor-app-box-tpl(type='text/template')
    | <div class='app-icon-wrap'>
    |    <img src='<%= icons.px100 %>'>
    | </div>

    h3 <%= title %>
    p <%= description %>

    | <% if(screenshots.small.length > 0) { %>
    | <div class='screenshot-wrap'>
    | <ul class='screenshot-list'>
    | <% _.each(screenshots.small, function(screenshot) { %>
    |     <li>
    |         <img src='<%= screenshot %>'>
    |     </li>
    | <% }); %>
    | </ul>
    | </div>
    | <% } %>


