script#editor-header-tpl(type='text/template')
    header#editor-head
        #cover-wrap

        #cover-form
            .container

                form#hero-cover-input-wrap.ui.input.massive.fluid
                        input#hero-cover-input(type='text', placeholder='在这里填写顶部图片的URL')
                        #hero-cover-submit-btn
                            button(type='submit')
                #change-cover
                    .ui.button
                        | 更换封面图片

        #header-content
            .container
                h1#app-title <%= title %>
                h2#article-title 在这里输入标题
