script#editor-header-tpl(type='text/template')
    //- | <% if(appList.length > 0) { %>
    //- | <% _.each(appList, function(app) { %>
    //- |     <li class='app-card' data-package='<%= app.packageName %>'>
    //- |         <div class='app-icon-wrap'>
    //- |             <img class='app-icon' src='<%= app.icons.px48 %>'>
    //- |         </div>
    //- |         <div class='app-info'>
    //- |             <h3><%= app.title %></h3>
    //- |             <p><%= app.description %></p>
    //- |         </div>
    //- |     </li>
    //- | <% }); %>
    //- | <% } else { %>
    //- |     <p class='no-data'>
    //- |         没有结果
    //- |     </p>
    //- | <% } %>
    header#editor-head
        #cover-wrap
        .container
            h1 <%= title %>
            h2 在这里输入标题
            h3 在这里填写顶部图片的CDN地址
            //- #hero-cover.ui.input.massive.fluid
            //-     input(type='text', placeholder='')
