header#header
    #logo.fl-left WAA
    nav#nav
        a.ui.green.button.fl-right(href='/admin/articles/new') 写文章

        if currentPage == 'admin-articles'
            a.active(href='/admin/articles') 全部文章
        else
            a(href='/admin/articles') 全部文章

        if currentPage == 'admin-drafts'
            a.active(href='/admin/drafts') 全部草稿
        else
            a(href='/admin/drafts') 全部草稿
