@import "button";
@import "vars";
@import "media-queries";
@import "intro-effect";

@import url(http://weloveiconfonts.com/api/?family=entypo);

a {
    color: #3baa24;
    text-decoration: none;

    &:hover {
        color: #2f7c2f
    }
}

// html,
// body {
//     height: 100%;
// }

body {
    background-color: #fff;
    font: 12px/1.7 $font-base;
    color: $textNormal;
    -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4 {
    line-height: 1.78;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 300;
}

h4 {
    font-size: 14px;
    font-weight: 200;
}

.hide {
    display: none !important;
}

.inline-block {
    @include inline-block;
}

.show {
    display: block !important;
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    // margin-right: 10px;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

// over write pen.css
.pen p,
.pen pre,
.pen ul,
.pen ol,
.pen dl,
.pen form,
.pen table,
.pen blockquote {
    margin-bottom: 0;
}

.pen h1,
.pen h2,
.pen h3,
.pen h4,
.pen h5 {
    font-size: 1.3em;
    margin-bottom: 0;
    padding: 1.2em 0;
}

// start
#main {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
}

#content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 150px;
    padding: 10px;
    overflow: auto;
}

#main.editor-page {
    top: 0;
}

#main.editing {
    position: relative;
    top: 0;
    bottom: auto;
}

#main.editor-page #content {
    position: relative;
    left: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
}



@include max-screen(1024px) {
    .container {
        width: 800px;
    }
}

@include max-screen(900px) {
    .container {
        width: 700px;
    }
}

@include max-screen(768px) {
    .container {
        width: auto;
        margin: 0 50px;
    }
}


@include max-screen(500px) {
    .container {
        width: auto;
        margin: 0 10px;
    }
}

@include max-screen(310px) {
    .container {
        width: auto;
        margin: 0 10px;
    }
}
