@import url(http://weloveiconfonts.com/api/?family=entypo);
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
 * # Semantic - Button
 * http://github.com/jlukic/semantic-ui/
 *
 *
 * Copyright 2013 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
/*******************************
            Button
*******************************/
/* Prototype */
/* line 15, ../../src/stylesheets/_button.scss */
.ui.button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  min-height: 1em;
  outline: none;
  border: none;
  background-color: #FAFAFA;
  color: #808080;
  margin: 0em;
  padding: 0.8em 1.5em;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  border-radius: 0.25em;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, -webkit-box-shadow 0.25s ease;
  -moz-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
}

/*******************************
            States
*******************************/
/*--------------
     Active
---------------*/
/* line 59, ../../src/stylesheets/_button.scss */
.ui.buttons .active.button,
.ui.active.button {
  background-color: #EAEAEA;
  background-image: none;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset !important;
  color: rgba(0, 0, 0, 0.7);
}

/*--------------
      Hover
---------------*/
/* line 70, ../../src/stylesheets/_button.scss */
.ui.button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.08)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.08));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.08));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  color: rgba(0, 0, 0, 0.7);
}

/* line 77, ../../src/stylesheets/_button.scss */
.ui.button.active:hover {
  background-image: none;
}

/* line 80, ../../src/stylesheets/_button.scss */
.ui.button:hover .icon,
.ui.button.hover .icon {
  opacity: 0.85;
}

/*--------------
      Down
---------------*/
/* line 87, ../../src/stylesheets/_button.scss */
.ui.button:active,
.ui.active.button:active {
  background-color: #F1F1F1;
  color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset !important;
}

/*--------------
    Loading
---------------*/
/* line 97, ../../src/stylesheets/_button.scss */
.ui.loading.button {
  position: relative;
  cursor: default;
  background-color: #FFFFFF !important;
  color: transparent !important;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  transition: all 0s linear;
}

/* line 106, ../../src/stylesheets/_button.scss */
.ui.loading.button:after {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  content: '';
  background: transparent url(../images/loader-mini.gif) no-repeat 50% 50%;
}

/* line 115, ../../src/stylesheets/_button.scss */
.ui.labeled.icon.loading.button .icon {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*-------------------
      Disabled
--------------------*/
/* line 123, ../../src/stylesheets/_button.scss */
.ui.disabled.button,
.ui.disabled.button:hover,
.ui.disabled.button.active {
  background-color: #DDDDDD !important;
  cursor: default;
  color: rgba(0, 0, 0, 0.5) !important;
  opacity: 0.3 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/*******************************
             Types
*******************************/
/*-------------------
       Animated
--------------------*/
/* line 140, ../../src/stylesheets/_button.scss */
.ui.animated.button {
  position: relative;
  overflow: hidden;
}

/* line 144, ../../src/stylesheets/_button.scss */
.ui.animated.button .visible.content {
  position: relative;
}

/* line 147, ../../src/stylesheets/_button.scss */
.ui.animated.button .hidden.content {
  position: absolute;
  width: 100%;
}

/* Horizontal */
/* line 152, ../../src/stylesheets/_button.scss */
.ui.animated.button .visible.content,
.ui.animated.button .hidden.content {
  -webkit-transition: right 0.3s ease 0s;
  -moz-transition: right 0.3s ease 0s;
  transition: right 0.3s ease 0s;
}

/* line 158, ../../src/stylesheets/_button.scss */
.ui.animated.button .visible.content {
  left: auto;
  right: 0%;
}

/* line 162, ../../src/stylesheets/_button.scss */
.ui.animated.button .hidden.content {
  top: 50%;
  left: auto;
  right: -100%;
  margin-top: -0.55em;
}

/* line 168, ../../src/stylesheets/_button.scss */
.ui.animated.button:hover .visible.content {
  left: auto;
  right: 200%;
}

/* line 172, ../../src/stylesheets/_button.scss */
.ui.animated.button:hover .hidden.content {
  left: auto;
  right: 0%;
}

/* Vertical */
/* line 177, ../../src/stylesheets/_button.scss */
.ui.vertical.animated.button .visible.content,
.ui.vertical.animated.button .hidden.content {
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -moz-transition: top 0.3s ease 0s, -moz-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s;
}

/* line 183, ../../src/stylesheets/_button.scss */
.ui.vertical.animated.button .visible.content {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  right: auto;
}

/* line 190, ../../src/stylesheets/_button.scss */
.ui.vertical.animated.button .hidden.content {
  top: -100%;
  left: 0%;
  right: auto;
}

/* line 195, ../../src/stylesheets/_button.scss */
.ui.vertical.animated.button:hover .visible.content {
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
  right: auto;
}

/* line 202, ../../src/stylesheets/_button.scss */
.ui.vertical.animated.button:hover .hidden.content {
  top: 50%;
  right: auto;
}

/* Fade */
/* line 207, ../../src/stylesheets/_button.scss */
.ui.fade.animated.button .visible.content,
.ui.fade.animated.button .hidden.content {
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s, -moz-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}

/* line 213, ../../src/stylesheets/_button.scss */
.ui.fade.animated.button .visible.content {
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* line 222, ../../src/stylesheets/_button.scss */
.ui.fade.animated.button .hidden.content {
  opacity: 0;
  left: 0%;
  right: auto;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 231, ../../src/stylesheets/_button.scss */
.ui.fade.animated.button:hover .visible.content {
  left: auto;
  right: auto;
  opacity: 0;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

/* line 240, ../../src/stylesheets/_button.scss */
.ui.fade.animated.button:hover .hidden.content {
  left: 0%;
  right: auto;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*-------------------
   Primary
--------------------*/
/* line 252, ../../src/stylesheets/_button.scss */
.ui.primary.buttons .button,
.ui.primary.button {
  background-color: #D95C5C;
  color: #FFFFFF;
}

/* line 257, ../../src/stylesheets/_button.scss */
.ui.primary.buttons .button:hover,
.ui.primary.button:hover,
.ui.primary.buttons .active.button,
.ui.primary.button.active {
  background-color: #E75859;
  color: #FFFFFF;
}

/* line 264, ../../src/stylesheets/_button.scss */
.ui.primary.buttons .button:active,
.ui.primary.button:active {
  background-color: #D24B4C;
  color: #FFFFFF;
}

/*-------------------
  Secondary
--------------------*/
/* line 272, ../../src/stylesheets/_button.scss */
.ui.secondary.buttons .button,
.ui.secondary.button {
  background-color: #00B5AD;
  color: #FFFFFF;
}

/* line 277, ../../src/stylesheets/_button.scss */
.ui.secondary.buttons .button:hover,
.ui.secondary.button:hover,
.ui.secondary.buttons .active.button,
.ui.secondary.button.active {
  background-color: #009A93;
  color: #FFFFFF;
}

/* line 284, ../../src/stylesheets/_button.scss */
.ui.secondary.buttons .button:active,
.ui.secondary.button:active {
  background-color: #00847E;
  color: #FFFFFF;
}

/*-------------------
   Social
--------------------*/
/* Facebook */
/* line 293, ../../src/stylesheets/_button.scss */
.ui.facebook.button {
  background-color: #3B579D;
  color: #FFFFFF;
}

/* line 297, ../../src/stylesheets/_button.scss */
.ui.facebook.button:hover {
  background-color: #3A59A9;
  color: #FFFFFF;
}

/* line 301, ../../src/stylesheets/_button.scss */
.ui.facebook.button:active {
  background-color: #334F95;
  color: #FFFFFF;
}

/* Twitter */
/* line 306, ../../src/stylesheets/_button.scss */
.ui.twitter.button {
  background-color: #4092CC;
  color: #FFFFFF;
}

/* line 310, ../../src/stylesheets/_button.scss */
.ui.twitter.button:hover {
  background-color: #399ADE;
  color: #FFFFFF;
}

/* line 314, ../../src/stylesheets/_button.scss */
.ui.twitter.button:active {
  background-color: #3283BC;
  color: #FFFFFF;
}

/* Google Plus */
/* line 319, ../../src/stylesheets/_button.scss */
.ui.google.plus.button {
  background-color: #D34836;
  color: #FFFFFF;
}

/* line 323, ../../src/stylesheets/_button.scss */
.ui.google.plus.button:hover {
  background-color: #E3432E;
  color: #FFFFFF;
}

/* line 327, ../../src/stylesheets/_button.scss */
.ui.google.plus.button:active {
  background-color: #CA3A27;
  color: #FFFFFF;
}

/* Linked In */
/* line 332, ../../src/stylesheets/_button.scss */
.ui.linkedin.button {
  background-color: #1F88BE;
  color: #FFFFFF;
}

/* line 336, ../../src/stylesheets/_button.scss */
.ui.linkedin.button:hover {
  background-color: #1394D6;
  color: #FFFFFF;
}

/* line 340, ../../src/stylesheets/_button.scss */
.ui.linkedin.button:active {
  background-color: #1179AE;
  color: #FFFFFF;
}

/* YouTube */
/* line 345, ../../src/stylesheets/_button.scss */
.ui.youtube.button {
  background-color: #CC181E;
  color: #FFFFFF;
}

/* line 349, ../../src/stylesheets/_button.scss */
.ui.youtube.button:hover {
  background-color: #DF0209;
  color: #FFFFFF;
}

/* line 353, ../../src/stylesheets/_button.scss */
.ui.youtube.button:active {
  background-color: #A50006;
  color: #FFFFFF;
}

/* Instagram */
/* line 358, ../../src/stylesheets/_button.scss */
.ui.instagram.button {
  background-color: #49769C;
  color: #FFFFFF;
}

/* line 362, ../../src/stylesheets/_button.scss */
.ui.instagram.button:hover {
  background-color: #4781B1;
  color: #FFFFFF;
}

/* line 366, ../../src/stylesheets/_button.scss */
.ui.instagram.button:active {
  background-color: #38658A;
  color: #FFFFFF;
}

/* Pinterest */
/* line 371, ../../src/stylesheets/_button.scss */
.ui.pinterest.button {
  background-color: #00ACED;
  color: #FFFFFF;
}

/* line 375, ../../src/stylesheets/_button.scss */
.ui.pinterest.button:hover {
  background-color: #00B9FF;
  color: #FFFFFF;
}

/* line 379, ../../src/stylesheets/_button.scss */
.ui.pinterest.button:active {
  background-color: #009EDA;
  color: #FFFFFF;
}

/* vk.com */
/* line 384, ../../src/stylesheets/_button.scss */
.ui.vk.button {
  background-color: #4D7198;
  color: #FFFFFF;
}

/* line 388, ../../src/stylesheets/_button.scss */
.ui.vk.button:hover {
  background-color: #537AA5;
  color: #FFFFFF;
}

/* line 392, ../../src/stylesheets/_button.scss */
.ui.vk.button:active {
  background-color: #405E7E;
  color: #FFFFFF;
}

/*--------------
 Icon
---------------*/
/* line 399, ../../src/stylesheets/_button.scss */
.ui.button > .icon {
  margin-right: 0.6em;
  line-height: 1;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

/*******************************
       Variations
*******************************/
/*-------------------
   Floated
--------------------*/
/* line 415, ../../src/stylesheets/_button.scss */
.ui.left.floated.buttons,
.ui.left.floated.button {
  float: left;
  margin-right: 0.25em;
}

/* line 420, ../../src/stylesheets/_button.scss */
.ui.right.floated.buttons,
.ui.right.floated.button {
  float: right;
  margin-left: 0.25em;
}

/*-------------------
    Sizes
--------------------*/
/* line 428, ../../src/stylesheets/_button.scss */
.ui.buttons .button,
.ui.button {
  font-size: 1rem;
}

/* line 432, ../../src/stylesheets/_button.scss */
.ui.mini.buttons .button,
.ui.mini.buttons .or,
.ui.mini.button {
  font-size: 0.8rem;
}

/* line 437, ../../src/stylesheets/_button.scss */
.ui.mini.buttons .button,
.ui.mini.button {
  padding: 0.6em 0.8em;
}

/* line 441, ../../src/stylesheets/_button.scss */
.ui.mini.icon.buttons .button,
.ui.mini.buttons .icon.button {
  padding: 0.6em 0.6em;
}

/* line 445, ../../src/stylesheets/_button.scss */
.ui.tiny.buttons .button,
.ui.tiny.buttons .or,
.ui.tiny.button {
  font-size: 0.875em;
}

/* line 450, ../../src/stylesheets/_button.scss */
.ui.tiny.buttons .button,
.ui.tiny.buttons .button,
.ui.tiny.button {
  padding: 0.6em 0.8em;
}

/* line 455, ../../src/stylesheets/_button.scss */
.ui.tiny.icon.buttons .button,
.ui.tiny.buttons .icon.button {
  padding: 0.6em 0.6em;
}

/* line 459, ../../src/stylesheets/_button.scss */
.ui.small.buttons .button,
.ui.small.buttons .or,
.ui.small.button {
  font-size: 0.875rem;
}

/* line 464, ../../src/stylesheets/_button.scss */
.ui.large.buttons .button,
.ui.large.buttons .or,
.ui.large.button {
  font-size: 1.125rem;
}

/* line 469, ../../src/stylesheets/_button.scss */
.ui.big.buttons .button,
.ui.big.buttons .or,
.ui.big.button {
  font-size: 1.25rem;
}

/* line 474, ../../src/stylesheets/_button.scss */
.ui.huge.buttons .button,
.ui.huge.buttons .or,
.ui.huge.button {
  font-size: 1.375rem;
}

/* line 479, ../../src/stylesheets/_button.scss */
.ui.massive.buttons .button,
.ui.massive.buttons .or,
.ui.massive.button {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Or resize */
/* line 486, ../../src/stylesheets/_button.scss */
.ui.tiny.buttons .or:before,
.ui.mini.buttons .or:before {
  width: 1.45em;
  height: 1.55em;
  line-height: 1.4;
  margin-left: -0.725em;
  margin-top: -0.25em;
}

/* line 494, ../../src/stylesheets/_button.scss */
.ui.tiny.buttons .or:after,
.ui.mini.buttons .or:after {
  height: 1.45em;
}

/* loading */
/* line 499, ../../src/stylesheets/_button.scss */
.ui.huge.loading.button:after {
  background-image: url(../images/loader-small.gif);
}

/* line 502, ../../src/stylesheets/_button.scss */
.ui.massive.buttons .loading.button:after,
.ui.gigantic.buttons .loading.button:after,
.ui.massive.loading.button:after,
.ui.gigantic.loading.button:after {
  background-image: url(../images/loader-medium.gif);
}

/* line 508, ../../src/stylesheets/_button.scss */
.ui.huge.loading.button:after,
.ui.huge.loading.button.active:after {
  background-image: url(../images/loader-small.gif);
}

/* line 512, ../../src/stylesheets/_button.scss */
.ui.massive.buttons .loading.button:after,
.ui.gigantic.buttons .loading.button:after,
.ui.massive.loading.button:after,
.ui.gigantic.loading.button:after,
.ui.massive.buttons .loading.button.active:after,
.ui.gigantic.buttons .loading.button.active:after,
.ui.massive.loading.button.active:after,
.ui.gigantic.loading.button.active:after {
  background-image: url(../images/loader-medium.gif);
}

/*--------------
Icon Only
---------------*/
/* line 525, ../../src/stylesheets/_button.scss */
.ui.icon.buttons .button,
.ui.icon.button {
  padding: 0.8em;
}

/* line 529, ../../src/stylesheets/_button.scss */
.ui.icon.buttons .button > .icon,
.ui.icon.button > .icon {
  opacity: 0.9;
  margin: 0em;
  vertical-align: top;
}

/*-------------------
    Basic
--------------------*/
/* line 538, ../../src/stylesheets/_button.scss */
.ui.basic.buttons .button,
.ui.basic.button {
  background-color: transparent !important;
  background-image: none;
  color: #808080 !important;
  font-weight: normal;
  text-transform: none;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}

/* line 548, ../../src/stylesheets/_button.scss */
.ui.basic.buttons {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.25em;
}

/* line 553, ../../src/stylesheets/_button.scss */
.ui.basic.buttons .button:hover,
.ui.basic.button:hover {
  background-image: none;
  color: #7F7F7F !important;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.18) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.18) inset;
}

/* line 560, ../../src/stylesheets/_button.scss */
.ui.basic.buttons .button:active,
.ui.basic.button:active {
  background-color: rgba(0, 0, 0, 0.02) !important;
  color: #7F7F7F !important;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}

/* line 567, ../../src/stylesheets/_button.scss */
.ui.basic.buttons .button.active,
.ui.basic.button.active {
  background-color: rgba(0, 0, 0, 0.05);
  color: #7F7F7F;
  -webkit-box-shadow: 0px 0px 0px 1px #BDBDBD inset;
  box-shadow: 0px 0px 0px 1px #BDBDBD inset;
}

/* line 574, ../../src/stylesheets/_button.scss */
.ui.basic.buttons .button.active:hover,
.ui.basic.button.active:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Inverted */
/* line 579, ../../src/stylesheets/_button.scss */
.ui.basic.inverted.buttons .button,
.ui.basic.inverted.button {
  color: #FAFAFA !important;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3) inset;
}

/* line 585, ../../src/stylesheets/_button.scss */
.ui.basic.inverted.buttons .button:hover,
.ui.basic.inverted.button:hover {
  background-image: none;
  color: #FFFFFF !important;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset;
}

/* line 592, ../../src/stylesheets/_button.scss */
.ui.basic.inverted.buttons .button:active,
.ui.basic.inverted.button:active {
  background-color: rgba(255, 255, 255, 0.05) !important;
  color: #FFFFFF !important;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.8) inset !important;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.8) inset !important;
}

/* line 599, ../../src/stylesheets/_button.scss */
.ui.basic.inverted.buttons .button.active,
.ui.basic.inverted.button.active {
  background-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 606, ../../src/stylesheets/_button.scss */
.ui.basic.inverted.buttons .button.active:hover,
.ui.basic.inverted.button.active:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Basic Group */
/* line 611, ../../src/stylesheets/_button.scss */
.ui.basic.buttons .button {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 616, ../../src/stylesheets/_button.scss */
.ui.basic.buttons .button:hover,
.ui.basic.buttons .button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 621, ../../src/stylesheets/_button.scss */
.ui.basic.buttons .button.active,
.ui.basic.buttons .button.active:hover {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
}

/*--------------
Labeled Icon
---------------*/
/* line 629, ../../src/stylesheets/_button.scss */
.ui.labeled.icon.buttons .button,
.ui.labeled.icon.button {
  position: relative;
  padding-left: 4em !important;
  padding-right: 1.4em !important;
}

/* line 635, ../../src/stylesheets/_button.scss */
.ui.labeled.icon.buttons > .button > .icon,
.ui.labeled.icon.button > .icon {
  position: absolute;
  top: 0em;
  left: 0em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 2.75em;
  height: 100%;
  padding-top: 0.8em;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  border-radius: 0.25em 0px 0px 0.25em;
  line-height: 1;
  -webkit-box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
  box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
}

/* line 654, ../../src/stylesheets/_button.scss */
.ui.labeled.icon.buttons .button > .icon {
  border-radius: 0em;
}

/* line 657, ../../src/stylesheets/_button.scss */
.ui.labeled.icon.buttons .button:first-child > .icon {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}

/* line 661, ../../src/stylesheets/_button.scss */
.ui.labeled.icon.buttons .button:last-child > .icon {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

/* line 665, ../../src/stylesheets/_button.scss */
.ui.vertical.labeled.icon.buttons .button:first-child > .icon {
  border-radius: 0em;
  border-top-left-radius: 0.25em;
}

/* line 669, ../../src/stylesheets/_button.scss */
.ui.vertical.labeled.icon.buttons .button:last-child > .icon {
  border-radius: 0em;
  border-bottom-left-radius: 0.25em;
}

/* line 673, ../../src/stylesheets/_button.scss */
.ui.right.labeled.icon.button {
  padding-left: 1.4em !important;
  padding-right: 4em !important;
}

/* line 677, ../../src/stylesheets/_button.scss */
.ui.left.fluid.labeled.icon.button,
.ui.right.fluid.labeled.icon.button {
  padding-left: 1.4em !important;
  padding-right: 1.4em !important;
}

/* line 682, ../../src/stylesheets/_button.scss */
.ui.right.labeled.icon.button .icon {
  left: auto;
  right: 0em;
  border-radius: 0em 0.25em 0.25em 0em;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
}

/*--------------
 Toggle
---------------*/
/* Toggle (Modifies active state to give affordances) */
/* line 693, ../../src/stylesheets/_button.scss */
.ui.toggle.buttons .active.button,
.ui.buttons .button.toggle.active,
.ui.button.toggle.active {
  background-color: #5BBD72 !important;
  color: #FFFFFF !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 701, ../../src/stylesheets/_button.scss */
.ui.button.toggle.active:hover {
  background-color: #58CB73 !important;
  color: #FFFFFF !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/*--------------
Circular
---------------*/
/* line 710, ../../src/stylesheets/_button.scss */
.ui.circular.button {
  border-radius: 10em;
}

/*--------------
No Raiuds
---------------*/
/* line 716, ../../src/stylesheets/_button.scss */
.ui.angles.button {
  border-radius: 0;
}

/*--------------
 Attached
---------------*/
/* line 722, ../../src/stylesheets/_button.scss */
.ui.attached.button {
  display: block;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) !important;
}

/* line 727, ../../src/stylesheets/_button.scss */
.ui.attached.top.button {
  border-radius: 0.25em 0.25em 0em 0em;
}

/* line 730, ../../src/stylesheets/_button.scss */
.ui.attached.bottom.button {
  border-radius: 0em 0em 0.25em 0.25em;
}

/* line 733, ../../src/stylesheets/_button.scss */
.ui.attached.left.button {
  display: inline-block;
  border-left: none;
  padding-right: 0.75em;
  text-align: right;
  border-radius: 0.25em 0em 0em 0.25em;
}

/* line 740, ../../src/stylesheets/_button.scss */
.ui.attached.right.button {
  display: inline-block;
  padding-left: 0.75em;
  text-align: left;
  border-radius: 0em 0.25em 0.25em 0em;
}

/*-------------------
  Or Buttons
--------------------*/
/* line 749, ../../src/stylesheets/_button.scss */
.ui.buttons .or {
  position: relative;
  float: left;
  width: 0.3em;
  height: 1.1em;
  z-index: 3;
}

/* line 756, ../../src/stylesheets/_button.scss */
.ui.buttons .or:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: 'or';
  background-color: #FFFFFF;
  margin-top: -0.1em;
  margin-left: -0.9em;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.55;
  color: #AAAAAA;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  border-radius: 500px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 779, ../../src/stylesheets/_button.scss */
.ui.buttons .or[data-text]:before {
  content: attr(data-text);
}

/* line 782, ../../src/stylesheets/_button.scss */
.ui.buttons .or:after {
  position: absolute;
  top: 0em;
  left: 0em;
  content: ' ';
  width: 0.3em;
  height: 1.7em;
  background-color: transparent;
  border-top: 0.5em solid #FFFFFF;
  border-bottom: 0.5em solid #FFFFFF;
}

/* Fluid Or */
/* line 794, ../../src/stylesheets/_button.scss */
.ui.fluid.buttons .or {
  width: 0em !important;
}

/* line 797, ../../src/stylesheets/_button.scss */
.ui.fluid.buttons .or:after {
  display: none;
}

/*-------------------
   Attached
--------------------*/
/* Plural Attached */
/* line 804, ../../src/stylesheets/_button.scss */
.attached.ui.buttons {
  margin: 0px;
  border-radius: 4px 4px 0px 0px;
}

/* line 808, ../../src/stylesheets/_button.scss */
.attached.ui.buttons .button:first-child {
  border-radius: 4px 0px 0px 0px;
}

/* line 811, ../../src/stylesheets/_button.scss */
.attached.ui.buttons .button:last-child {
  border-radius: 0px 4px 0px 0px;
}

/* Bottom Side */
/* line 815, ../../src/stylesheets/_button.scss */
.bottom.attached.ui.buttons {
  margin-top: -1px;
  border-radius: 0px 0px 4px 4px;
}

/* line 819, ../../src/stylesheets/_button.scss */
.bottom.attached.ui.buttons .button:first-child {
  border-radius: 0px 0px 0px 4px;
}

/* line 822, ../../src/stylesheets/_button.scss */
.bottom.attached.ui.buttons .button:last-child {
  border-radius: 0px 0px 4px 0px;
}

/* Left Side */
/* line 826, ../../src/stylesheets/_button.scss */
.left.attached.ui.buttons {
  margin-left: -1px;
  border-radius: 0px 4px 4px 0px;
}

/* line 830, ../../src/stylesheets/_button.scss */
.left.attached.ui.buttons .button:first-child {
  margin-left: -1px;
  border-radius: 0px 4px 0px 0px;
}

/* line 834, ../../src/stylesheets/_button.scss */
.left.attached.ui.buttons .button:last-child {
  margin-left: -1px;
  border-radius: 0px 0px 4px 0px;
}

/* Right Side */
/* line 839, ../../src/stylesheets/_button.scss */
.right.attached.ui.buttons,
.right.attached.ui.buttons .button {
  margin-right: -1px;
  border-radius: 4px 0px 0px 4px;
}

/* line 844, ../../src/stylesheets/_button.scss */
.right.attached.ui.buttons .button:first-child {
  margin-left: -1px;
  border-radius: 4px 0px 0px 0px;
}

/* line 848, ../../src/stylesheets/_button.scss */
.right.attached.ui.buttons .button:last-child {
  margin-left: -1px;
  border-radius: 0px 0px 0px 4px;
}

/* Fluid */
/* line 853, ../../src/stylesheets/_button.scss */
.ui.fluid.buttons,
.ui.button.fluid,
.ui.fluid.buttons > .button {
  display: block;
  width: 100%;
}

/* line 859, ../../src/stylesheets/_button.scss */
.ui.\32.buttons > .button,
.ui.two.buttons > .button {
  width: 50%;
}

/* line 863, ../../src/stylesheets/_button.scss */
.ui.\33.buttons > .button,
.ui.three.buttons > .button {
  width: 33.333%;
}

/* line 867, ../../src/stylesheets/_button.scss */
.ui.\34.buttons > .button,
.ui.four.buttons > .button {
  width: 25%;
}

/* line 871, ../../src/stylesheets/_button.scss */
.ui.\35.buttons > .button,
.ui.five.buttons > .button {
  width: 20%;
}

/* line 875, ../../src/stylesheets/_button.scss */
.ui.\36.buttons > .button,
.ui.six.buttons > .button {
  width: 16.666%;
}

/* line 879, ../../src/stylesheets/_button.scss */
.ui.\37.buttons > .button,
.ui.seven.buttons > .button {
  width: 14.285%;
}

/* line 883, ../../src/stylesheets/_button.scss */
.ui.\38.buttons > .button,
.ui.eight.buttons > .button {
  width: 12.500%;
}

/* line 887, ../../src/stylesheets/_button.scss */
.ui.\39.buttons > .button,
.ui.nine.buttons > .button {
  width: 11.11%;
}

/* line 891, ../../src/stylesheets/_button.scss */
.ui.\31\30.buttons > .button,
.ui.ten.buttons > .button {
  width: 10%;
}

/* line 895, ../../src/stylesheets/_button.scss */
.ui.\31\31.buttons > .button,
.ui.eleven.buttons > .button {
  width: 9.09%;
}

/* line 899, ../../src/stylesheets/_button.scss */
.ui.\31\32.buttons > .button,
.ui.twelve.buttons > .button {
  width: 8.3333%;
}

/* Fluid Vertical Buttons */
/* line 904, ../../src/stylesheets/_button.scss */
.ui.fluid.vertical.buttons,
.ui.fluid.vertical.buttons > .button {
  display: block;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 913, ../../src/stylesheets/_button.scss */
.ui.\32.vertical.buttons > .button,
.ui.two.vertical.buttons > .button {
  height: 50%;
}

/* line 917, ../../src/stylesheets/_button.scss */
.ui.\33.vertical.buttons > .button,
.ui.three.vertical.buttons > .button {
  height: 33.333%;
}

/* line 921, ../../src/stylesheets/_button.scss */
.ui.\34.vertical.buttons > .button,
.ui.four.vertical.buttons > .button {
  height: 25%;
}

/* line 925, ../../src/stylesheets/_button.scss */
.ui.\35.vertical.buttons > .button,
.ui.five.vertical.buttons > .button {
  height: 20%;
}

/* line 929, ../../src/stylesheets/_button.scss */
.ui.\36.vertical.buttons > .button,
.ui.six.vertical.buttons > .button {
  height: 16.666%;
}

/* line 933, ../../src/stylesheets/_button.scss */
.ui.\37.vertical.buttons > .button,
.ui.seven.vertical.buttons > .button {
  height: 14.285%;
}

/* line 937, ../../src/stylesheets/_button.scss */
.ui.\38.vertical.buttons > .button,
.ui.eight.vertical.buttons > .button {
  height: 12.500%;
}

/* line 941, ../../src/stylesheets/_button.scss */
.ui.\39.vertical.buttons > .button,
.ui.nine.vertical.buttons > .button {
  height: 11.11%;
}

/* line 945, ../../src/stylesheets/_button.scss */
.ui.\31\30.vertical.buttons > .button,
.ui.ten.vertical.buttons > .button {
  height: 10%;
}

/* line 949, ../../src/stylesheets/_button.scss */
.ui.\31\31.vertical.buttons > .button,
.ui.eleven.vertical.buttons > .button {
  height: 9.09%;
}

/* line 953, ../../src/stylesheets/_button.scss */
.ui.\31\32.vertical.buttons > .button,
.ui.twelve.vertical.buttons > .button {
  height: 8.3333%;
}

/*-------------------
   Colors
--------------------*/
/*--- Black ---*/
/* line 961, ../../src/stylesheets/_button.scss */
.ui.black.buttons .button,
.ui.black.button {
  background-color: #5C6166;
  color: #FFFFFF;
}

/* line 966, ../../src/stylesheets/_button.scss */
.ui.black.buttons .button:hover,
.ui.black.button:hover {
  background-color: #4C4C4C;
  color: #FFFFFF;
}

/* line 971, ../../src/stylesheets/_button.scss */
.ui.black.buttons .button:active,
.ui.black.button:active {
  background-color: #333333;
  color: #FFFFFF;
}

/*--- Green ---*/
/* line 977, ../../src/stylesheets/_button.scss */
.ui.green.buttons .button,
.ui.green.button {
  background-color: #5BBD72;
  color: #FFFFFF;
}

/* line 982, ../../src/stylesheets/_button.scss */
.ui.green.buttons .button:hover,
.ui.green.button:hover,
.ui.green.buttons .active.button,
.ui.green.button.active {
  background-color: #58cb73;
  color: #FFFFFF;
}

/* line 989, ../../src/stylesheets/_button.scss */
.ui.green.buttons .button:active,
.ui.green.button:active {
  background-color: #4CB164;
  color: #FFFFFF;
}

/*--- Red ---*/
/* line 995, ../../src/stylesheets/_button.scss */
.ui.red.buttons .button,
.ui.red.button {
  background-color: #D95C5C;
  color: #FFFFFF;
}

/* line 1000, ../../src/stylesheets/_button.scss */
.ui.red.buttons .button:hover,
.ui.red.button:hover,
.ui.red.buttons .active.button,
.ui.red.button.active {
  background-color: #E75859;
  color: #FFFFFF;
}

/* line 1007, ../../src/stylesheets/_button.scss */
.ui.red.buttons .button:active,
.ui.red.button:active {
  background-color: #D24B4C;
  color: #FFFFFF;
}

/*--- Orange ---*/
/* line 1013, ../../src/stylesheets/_button.scss */
.ui.orange.buttons .button,
.ui.orange.button {
  background-color: #E96633;
  color: #FFFFFF;
}

/* line 1018, ../../src/stylesheets/_button.scss */
.ui.orange.buttons .button:hover,
.ui.orange.button:hover,
.ui.orange.buttons .active.button,
.ui.orange.button.active {
  background-color: #FF7038;
  color: #FFFFFF;
}

/* line 1025, ../../src/stylesheets/_button.scss */
.ui.orange.buttons .button:active,
.ui.orange.button:active {
  background-color: #DA683B;
  color: #FFFFFF;
}

/*--- Blue ---*/
/* line 1031, ../../src/stylesheets/_button.scss */
.ui.blue.buttons .button,
.ui.blue.button {
  background-color: #6ECFF5;
  color: #FFFFFF;
}

/* line 1036, ../../src/stylesheets/_button.scss */
.ui.blue.buttons .button:hover,
.ui.blue.button:hover,
.ui.blue.buttons .active.button,
.ui.blue.button.active {
  background-color: #1AB8F3;
  color: #FFFFFF;
}

/* line 1043, ../../src/stylesheets/_button.scss */
.ui.blue.buttons .button:active,
.ui.blue.button:active {
  background-color: #0AA5DF;
  color: #FFFFFF;
}

/*--- Purple ---*/
/* line 1049, ../../src/stylesheets/_button.scss */
.ui.purple.buttons .button,
.ui.purple.button {
  background-color: #564F8A;
  color: #FFFFFF;
}

/* line 1054, ../../src/stylesheets/_button.scss */
.ui.purple.buttons .button:hover,
.ui.purple.button:hover,
.ui.purple.buttons .active.button,
.ui.purple.button.active {
  background-color: #3E3773;
  color: #FFFFFF;
}

/* line 1061, ../../src/stylesheets/_button.scss */
.ui.purple.buttons .button:active,
.ui.purple.button:active {
  background-color: #2E2860;
  color: #FFFFFF;
}

/*--- Teal ---*/
/* line 1067, ../../src/stylesheets/_button.scss */
.ui.teal.buttons .button,
.ui.teal.button {
  background-color: #00B5AD;
  color: #FFFFFF;
}

/* line 1072, ../../src/stylesheets/_button.scss */
.ui.teal.buttons .button:hover,
.ui.teal.button:hover,
.ui.teal.buttons .active.button,
.ui.teal.button.active {
  background-color: #009A93;
  color: #FFFFFF;
}

/* line 1079, ../../src/stylesheets/_button.scss */
.ui.teal.buttons .button:active,
.ui.teal.button:active {
  background-color: #00847E;
  color: #FFFFFF;
}

/*---------------
Positive
----------------*/
/* line 1087, ../../src/stylesheets/_button.scss */
.ui.positive.buttons .button,
.ui.positive.button {
  background-color: #5BBD72 !important;
  color: #FFFFFF;
}

/* line 1092, ../../src/stylesheets/_button.scss */
.ui.positive.buttons .button:hover,
.ui.positive.button:hover,
.ui.positive.buttons .active.button,
.ui.positive.button.active {
  background-color: #58CB73 !important;
  color: #FFFFFF;
}

/* line 1099, ../../src/stylesheets/_button.scss */
.ui.positive.buttons .button:active,
.ui.positive.button:active {
  background-color: #4CB164 !important;
  color: #FFFFFF;
}

/*---------------
 Negative
----------------*/
/* line 1107, ../../src/stylesheets/_button.scss */
.ui.negative.buttons .button,
.ui.negative.button {
  background-color: #D95C5C !important;
  color: #FFFFFF;
}

/* line 1112, ../../src/stylesheets/_button.scss */
.ui.negative.buttons .button:hover,
.ui.negative.button:hover,
.ui.negative.buttons .active.button,
.ui.negative.button.active {
  background-color: #E75859 !important;
  color: #FFFFFF;
}

/* line 1119, ../../src/stylesheets/_button.scss */
.ui.negative.buttons .button:active,
.ui.negative.button:active {
  background-color: #D24B4C !important;
  color: #FFFFFF;
}

/*******************************
        Groups
*******************************/
/* line 1127, ../../src/stylesheets/_button.scss */
.ui.buttons {
  display: inline-block;
  vertical-align: middle;
}

/* line 1131, ../../src/stylesheets/_button.scss */
.ui.buttons:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 1138, ../../src/stylesheets/_button.scss */
.ui.buttons .button:first-child {
  border-left: none;
}

/* line 1141, ../../src/stylesheets/_button.scss */
.ui.buttons .button {
  float: left;
  border-radius: 0em;
}

/* line 1145, ../../src/stylesheets/_button.scss */
.ui.buttons .button:first-child {
  margin-left: 0em;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}

/* line 1150, ../../src/stylesheets/_button.scss */
.ui.buttons .button:last-child {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

/* Vertical  Style */
/* line 1155, ../../src/stylesheets/_button.scss */
.ui.vertical.buttons {
  display: inline-block;
}

/* line 1158, ../../src/stylesheets/_button.scss */
.ui.vertical.buttons .button {
  display: block;
  float: none;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}

/* line 1164, ../../src/stylesheets/_button.scss */
.ui.vertical.buttons .button:first-child,
.ui.vertical.buttons .mini.button:first-child,
.ui.vertical.buttons .tiny.button:first-child,
.ui.vertical.buttons .small.button:first-child,
.ui.vertical.buttons .massive.button:first-child,
.ui.vertical.buttons .huge.button:first-child {
  margin-top: 0px;
  border-radius: 0.25em 0.25em 0px 0px;
}

/* line 1173, ../../src/stylesheets/_button.scss */
.ui.vertical.buttons .button:last-child,
.ui.vertical.buttons .mini.button:last-child,
.ui.vertical.buttons .tiny.button:last-child,
.ui.vertical.buttons .small.button:last-child,
.ui.vertical.buttons .massive.button:last-child,
.ui.vertical.buttons .huge.button:last-child,
.ui.vertical.buttons .gigantic.button:last-child {
  border-radius: 0px 0px 0.25em 0.25em;
}

/* Text colors */
/* line 6, ../../src/stylesheets/_layout.scss */
a {
  color: #3baa24;
  text-decoration: none;
}
/* line 10, ../../src/stylesheets/_layout.scss */
a:hover {
  color: #2f7c2f;
}

/* line 15, ../../src/stylesheets/_layout.scss */
html,
body {
  height: 100%;
}

/* line 20, ../../src/stylesheets/_layout.scss */
body {
  background-color: #fff;
  font: 12px/18px "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  -webkit-text-size-adjust: none;
}

/* line 27, ../../src/stylesheets/_layout.scss */
h1,
h2,
h3,
h4 {
  line-height: 1.78;
}

/* line 34, ../../src/stylesheets/_layout.scss */
h1 {
  font-size: 40px;
  font-weight: 700;
}

/* line 39, ../../src/stylesheets/_layout.scss */
h2 {
  font-size: 30px;
  font-weight: 500;
}

/* line 44, ../../src/stylesheets/_layout.scss */
h3 {
  font-size: 20px;
  font-weight: 300;
}

/* line 49, ../../src/stylesheets/_layout.scss */
h4 {
  font-size: 14px;
  font-weight: 200;
}

/* line 54, ../../src/stylesheets/_layout.scss */
.hide {
  display: none !important;
}

/* line 58, ../../src/stylesheets/_layout.scss */
.inline-block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 62, ../../src/stylesheets/_layout.scss */
.show {
  display: block !important;
}

/* entypo */
/* line 67, ../../src/stylesheets/_layout.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* line 72, ../../src/stylesheets/_layout.scss */
.fl-left {
  float: left;
}

/* line 76, ../../src/stylesheets/_layout.scss */
.fl-right {
  float: right;
}

/* line 80, ../../src/stylesheets/_layout.scss */
#main {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 88, ../../src/stylesheets/_layout.scss */
#content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 150px;
  padding: 10px;
  overflow: auto;
}

/* line 98, ../../src/stylesheets/_layout.scss */
#main.editor-page {
  top: 0;
}

/* line 102, ../../src/stylesheets/_layout.scss */
#main.editor-page #content {
  left: 0;
  padding: 0;
}

/* line 107, ../../src/stylesheets/_layout.scss */
.container {
  width: 700px;
  margin: 0 auto;
}

/* line 1, ../../src/stylesheets/_header.scss */
#header {
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  font-size: 0;
}
/* line 12, ../../src/stylesheets/_header.scss */
#header #logo {
  -moz-box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.07);
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.07);
  width: 130px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  color: #333;
}
/* line 23, ../../src/stylesheets/_header.scss */
#header #nav {
  position: relative;
  margin-left: 150px;
}
/* line 28, ../../src/stylesheets/_header.scss */
#header #nav a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 10px 15px 5px 15px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
/* line 37, ../../src/stylesheets/_header.scss */
#header #nav a.active {
  -moz-box-shadow: 0 5px 0 0 #3baa24;
  -webkit-box-shadow: 0 5px 0 0 #3baa24;
  box-shadow: 0 5px 0 0 #3baa24;
}
/* line 41, ../../src/stylesheets/_header.scss */
#header #nav a.button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 1.5em;
}

/* line 1, ../../src/stylesheets/_footer.scss */
#footer {
  text-align: center;
  color: #ccc;
}
/* line 5, ../../src/stylesheets/_footer.scss */
#footer .container {
  -moz-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}
