extends layout

block content

    include header

    #main

        include sidebar

        article#content
            .container
                h1 All Drafts
                include drafts-list



    //- include footer
