extends layout

block content

    include header

    #main

        include sidebar

        article#content
            .container
                h1 All Artiles
                include articles-list




    //- include footer


