extends layout

block content

    include templates/header

    #main

        include templates/sidebar

        article#content
            .container
                h1 All Artiles
                ul
                    each article in articles
                        li= article





    //- include footer


