extends layout

block content

    //- include header

    #main.editor-page

        a#back-to-admin-home(href='/admin/')
            i.entypo-home

        #content
            #editor
                article.container
                    #app-box

                    | 在这里写文章<br><br>锡兰，哈内克，格斯范桑，<br><br>PTA，科恩兄弟，大卫林奇，杨德昌，阿莫多瓦，墨镜王，莫莱蒂，迈克李<br>，罗伯奥<br><br>特曼，维姆文德<br><br>斯，库斯图里卡，斯<br>科塞斯，布列松，塔科夫斯基，赫<br><br>尔佐格，泰<br><br><br><br><br>伦斯马力克。<br><br><br><br>他们都是戛纳最<br><br>佳导演<br>奖得主，一想到多兰<br><br>明天有可能加入这个<br><br>行列成为最年轻<br>的，永载史<br><br><br><br><br>册，就激动啊！~

        #search-app-overlay
            .pop-up
                form#app-search-form
                    .ui.input.massive.fluid
                        input#search-input(type='text', placeholder='请输入“应用名称”或者“应用包名”', autofocus='autofocus', autocomplete='off')
                        button.hide(type='submit')
                            i.entypo-search

                    //- button.ui.button.big.green.disabled.hide(type='submit') ok
                ul#app-search-list

    include templates/app-search-list-tpl
    include templates/editor-header-tpl
    include templates/editor-app-box-tpl
