extends layout

block content

    #main.editor-page

        a#back-to-admin-home(href='/admin/')
            i.entypo-home

        #content
            #editor
                #app-box.container

                article#article-content.container
                    | 在这里写文章

        #search-app-overlay
            .pop-up
                form#app-search-form
                    .ui.input.massive.fluid
                        input#search-input(type='text', placeholder='请输入“应用名称”或者“应用包名”', autofocus, autocomplete='off')
                        button.hide(type='submit')
                            i.entypo-search
                ul#app-search-list

    include templates/app-search-list-tpl
    include templates/editor-header-tpl
    include templates/editor-app-box-tpl
